# Ignore everything
node_modules
public
.eslintrc.*
*.html
*.json
*.config.js
.gitignore
.env

# Include the src folder
!part0/
!part1/
!part1/courseinfo/
!part1/courseinfo/src/
!part1/unicafe/
!part1/unicafe/src/
!part1/anecdotes/
!part1/anecdotes/src/
!part2/courseinfo/
!part2/courseinfo/src/
!part2/phonebook/
!part2/phonebook/src/
!part2/phonebook/db.json
!part2/countries/
!part2/countries/src/
!part3/phonebook/
!part3/phonebook/build/
!part3/phonebook/index.js
!part3/phonebook/package.json