# Ignore everything
node_modules
.eslintrc.*
*.html
*.json
*.config.js
.gitignore

# Include the src folder
!part0/
!part1/
!part1/courseinfo/
!part1/courseinfo/src/
!part1/unicafe/
!part1/unicafe/src/
!part1/anecdotes/
!part1/anecdotes/src/
!part2/courseinfo/
!part2/courseinfo/src/
!part2/phonebook/
!part2/phonebook/src/
